<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jin.androiduipractice">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.TRANSPARENT">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LinearGradient.LinearGradientActivity" />
        <activity android:name=".AudioBar.AudioBarActivity" />
        <activity android:name=".move.MoveActivity" />
        <activity android:name=".drawer.DrawerActivity" />
        <activity android:name=".roundIndicator.RoundIndicatorActivity" />
        <activity android:name=".moneyScale.MoneyScaleActivity" />
        <activity android:name=".path.PathActivity" />
        <activity android:name=".redPoint.RedPointActivity" />
        <activity android:name=".weatherCurve.WeatherCurveActivity" />
        <activity android:name=".drawable.DrawableActivity" />
        <activity android:name=".constraint.ConstraintActivity" />
        <activity android:name=".clipboard.ClipboardActivity"></activity>
    </application>

</manifest>